body {
    height: 100%;
    background-color: #ffdd57;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Navigation */

.main-nav {
    position: relative;
    z-index: 0;
}

.main-nav__item {
    align-items: center;
}

.logo__img {
    max-width: 90px;
    font-size: 0;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

.logo__text {
    font-size: 30px;
    color: #461818;
    font-weight: 500;
    animation: type 2s steps(30);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #461818;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes type {
    0% {
        width: 11ch;
        border-right: 1px solid #ffdd57;
    }
    25% {
        width: 11ch;
        border-right: 3px solid #461818;
    }
    50% {
        border-right: 1px solid #ffdd57;
    }
    75% {
        border-right: 3px solid #461818;
    }
    100% {
        width: 0ch;
        border-right: 1px solid #ffdd57;
    }
}

.main-nav .container {
    align-items: center;
}

.course .course__select {
    border: 1px solid #461818;
    color: #461818;
}

.course:not(.is-multiple):not(.is-loading)::after {
    border-color: #461818;
}


/* Form */

.tickets {
    padding-top: 2.6rem;
}

.tickets-form {
    width: 550px;
    background-color: #9d5d3d;
    box-shadow: 0 0em 0em 1.075em #461818, 0 0 0 1px rgba(10, 10, 10, .02);
}

.tickets__form {
    margin: 0 auto;
}

.tickets__form {
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.tickets-form label {
    color: #fff;
}

.tickets-form input::placeholder {
    color: #363636b9;
}

.tickets-form__date .field:not(:last-child),
.tickets-form__route .field:not(:last-child) {
    margin-bottom: 20px;
}

.tickets-form__date,
.tickets-form__route {
    width: calc(50% - 20px);
}

.tickets-form__form {
    flex-wrap: wrap;
    justify-content: space-between;
}

.tickets-form input:active,
.tickets-form input:focus {
    border-color: #461818;
    box-shadow: 0 0 0 0.125em rgb(157, 93, 61);
    border-width: 1px;
}

.tickets-form .dropdown-content li>a,
.tickets-form .dropdown-content li>span {
    color: #9d5d3d;
}

.tickets-form__button {
    margin-top: 20px;
}


/* Media */

@media screen and (max-width: 1023px) {
    .main-nav .container {
        display: flex;
    }
    .course {
        margin-left: auto;
    }
}